@tailwind preflight;

/* Here we can add any custom overrides */

@tailwind utilities;

.text-capitalize {
    text-transform: capitalize;
}

.text-overflow-ellipsis {
    text-overflow: ellipsis;
}

.PanelItems {
    max-height: 550px;
    overflow-y: auto;
}

.first-child-no-border-top:first-child {
    border: none;
}

* {
    outline: none !important;
}

.NewOrderModal {
    margin-top: 100px
}

.list-style-none {
    list-style-type: none !important;
}

.indent-sm {
    text-indent: 4px;
}

.indent {
    text-indent: 8px;
}

.indent-lg {
    text-indent: 12px;
}

.BreadcrumbChevron {
    font-size: 12px;
    transform: scaleX(10)
}

.table-layout-fixed {
    table-layout: fixed;
}

.no-scrollbar::-webkit-scrollbar {
    width: 0;
}

*::-webkit-scrollbar {
    background-color: #F5F5F5;
}

*::-webkit-scrollbar-thumb {
    background-color: rgba(60, 60, 60, 0.6);
    border-radius: 5px;
}

*::-webkit-scrollbar:horizontal{
    height:6px;
}

*::-webkit-scrollbar:vertical{
    width: 6px;
}

.rounded-scrollbar::-webkit-scrollbar{
    border-radius: 5px;
}

.text-ellipsis-nowrap{
    overflow-y: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}